.title-h1 {
    color: #f8e8d9;
    font-family: Elephant, sans-serif;
    text-align: center;
    font-size: 3rem;
    margin: 1rem 0;
}

.title-h3 {
    color: #f8e8d9;
    font-family: Elephant, sans-serif;
    text-align: center;
    font-size: 2.5rem;
    margin: 1rem 0;
}

.budget-card {
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 0.4rem;
    font-family: 'Elephant', sans-serif;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.budget-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.budget-card .card-body {
    background: linear-gradient(115deg, #fb3d3d, #ff9b9b);
    text-align: center;
    color: #333;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.card-text {
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

.ul-category {
    list-style-type: none;
    padding: 0;
    justify-items: center;
}

.li-category {
    width:85%;
    text-align: center;
    justify-items: center;
    justify-content: center;
}

.category-card {
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    padding: 1rem;
    background: #ffffff;
    font-family: 'Arial', sans-serif;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.span-category {
    display: block;
    font-size: 1rem;
    color: #555;
    margin-bottom: 0.5rem;
    font-family: Elephant, sans-serif;
    text-align: center;
    justify-items: center;
    justify-content: center;
}

.p-no-found {
    color: #f8e8d9;
    font-family: Elephant, sans-serif;
    text-align: center;
    font-size: 3rem;
    margin: 1rem 0;
}

@media (max-width: 768px) {
    .budget-card, .category-card {
        margin-bottom: 1rem;
    }
    .li-category {
        width: 80%;
    }
}
