.title-h1 {
    color: #d32f2f;
    -webkit-text-stroke: 1px #cdb878;
    font-family: "Elephant", sans-serif;
    text-align: center;
    font-size: 3rem;
    margin: 1rem 0;
}

.title-h3 {
    color: #d32f2f;
    -webkit-text-stroke: 1px #cdb878;
    font-family: "Elephant", sans-serif;
    text-align: center;
    font-size: 3rem;
    margin: 1rem 0;
}

.budget-container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-bottom: 2rem;
    max-width: 90%;
    margin: 0 auto;
    opacity: 100%;
}

.budget-item {
    background-color: #cdb878; /* Couleur de Noël */
    border: 3px solid #d32f2f; /* Rouge pour Noël */
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    opacity: 90%;
}

.budget-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.budget-title {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    color: #9e4d0d;
    font-family: "Elephant", sans-serif;
}

.budget-text {
    font-size: 1.4rem;
    color: black;
    font-family: "Elephant", sans-serif;
}

/* LISTE DES CATÉGORIES */
.ul-category {
    list-style: none;
    padding: 0;
    margin: 1rem auto;
    max-width: 90%;
    opacity: 90%;
}

.li-category {
    background-color: #cdb878; /* Couleur de Noël */
    border: 2px solid #095228; /* Rouge pour Noël */
    border-radius: 10px;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.li-category:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.span-category-name {
    display: block;
    font-size: 1.5rem;
    color: #9e4d0d;
    margin-bottom: 0.5rem;
    font-family: "Elephant", sans-serif;
    text-align: left;
}

.span-category-budget, .span-category-budgetmax {
    display: block;
    font-size: 1.2rem;
    color: black;
    margin-bottom: 0.5rem;
    font-family: "Elephant", sans-serif;
    text-align: left;
}

/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
    .title-h1 {
        font-size: 3rem;
    }

    .title-h3 {
        font-size: 3rem;
    }

    .budget-item, .li-category {
        margin-bottom: 1rem;
    }

    .budget-title {
        font-size: 2.5rem;
    }

    .span-category-budget, .span-category-budgetmax {
        font-size: 1.2rem;
    }

    .budget-text {
        font-size: 1.2rem;
    }
}

@media (max-width: 576px) {
    .title-h1 {
        font-size: 3rem;
    }

    .title-h3 {
        font-size: 3rem;
    }

    .span-category-budget, .span-category-budgetmax {
        font-size: 1.2rem;
    }

    .budget-title{
        font-size: 1.7rem;
    }

    .budget-text {
        font-size: 1rem;
    }
}
