body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: "Elephant", sans-serif;
}

.home-title {
    font-family: "Elephant", sans-serif;
    color: #d32f2f;
    -webkit-text-stroke: 1px #cdb878;
    text-align: center;
    font-size: 4rem;
    margin: 1rem 0;
}

.home-navlink {
    display: inline-block;
    margin: 1rem auto;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #d32f2f;
    text-decoration: none;
    border: 2px solid #d32f2f;
    border-radius: 15px;
    background-color: #cdb878;
    text-align: center;
    transition: background-color 0.3s ease;
}

.home-navlink:hover {
    color: white;
    background-color: #d32f2f;
}

.home-nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.home-chart-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem;
}

.home-chart-background {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 320px;
}

.home-chart-overlay {
    position: relative;
    width: 100%;
    height: 100%;
}

.radial-chart-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Assurez-vous qu'il est au-dessus de la CircularProgressbar */
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-chart-title {
    font-family: "Elephant", sans-serif;
    color: #d32f2f;
    -webkit-text-stroke: 1px #cdb878;
    text-align: center;
    font-size: 2.5rem;
    margin: 1rem 0;
}

.home-radial-chart {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.home-animated-chart path {
    transition: transform 0.3s ease, fill 0.3s ease;
}

.home-animated-chart path:hover {
    fill: #ff6347;
}

.home-animated-chart path.selected {
    fill: #ff4500;
}

.snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial, sans-serif;
    text-shadow: 0 0 5px #000;
    opacity: 0.6;
}

.snowflake,.snowflake .inner{animation-iteration-count:infinite;animation-play-state:running}@keyframes snowflakes-fall{0%{transform:translateY(0)}100%{transform:translateY(110vh)}}@keyframes snowflakes-shake{0%,100%{transform:translateX(0)}50%{transform:translateX(80px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;user-select:none;cursor:default;pointer-events:none;animation-name:snowflakes-shake;animation-duration:3s;animation-timing-function:ease-in-out}.snowflake .inner{animation-duration:10s;animation-name:snowflakes-fall;animation-timing-function:linear}.snowflake:nth-of-type(0){left:1%;animation-delay:0s}.snowflake:nth-of-type(0) .inner{animation-delay:0s}.snowflake:first-of-type{left:10%;animation-delay:1s}.snowflake:first-of-type .inner,.snowflake:nth-of-type(8) .inner{animation-delay:1s}.snowflake:nth-of-type(2){left:20%;animation-delay:.5s}.snowflake:nth-of-type(2) .inner,.snowflake:nth-of-type(6) .inner{animation-delay:6s}.snowflake:nth-of-type(3){left:30%;animation-delay:2s}.snowflake:nth-of-type(11) .inner,.snowflake:nth-of-type(3) .inner{animation-delay:4s}.snowflake:nth-of-type(4){left:40%;animation-delay:2s}.snowflake:nth-of-type(10) .inner,.snowflake:nth-of-type(4) .inner{animation-delay:2s}.snowflake:nth-of-type(5){left:50%;animation-delay:3s}.snowflake:nth-of-type(5) .inner{animation-delay:8s}.snowflake:nth-of-type(6){left:60%;animation-delay:2s}.snowflake:nth-of-type(7){left:70%;animation-delay:1s}.snowflake:nth-of-type(7) .inner{animation-delay:2.5s}.snowflake:nth-of-type(8){left:80%;animation-delay:0s}.snowflake:nth-of-type(9){left:90%;animation-delay:1.5s}.snowflake:nth-of-type(9) .inner{animation-delay:3s}.snowflake:nth-of-type(10){left:25%;animation-delay:0s}.snowflake:nth-of-type(11){left:65%;animation-delay:2.5s}

@keyframes snowflakes-fall {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(110vh);
    }
}

@keyframes snowflakes-shake {
    0%,
    100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(80px);
    }
}

.snowflake {
    position: fixed;
    top: -10%;
    z-index: -1;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    pointer-events: none;
    animation-name: snowflakes-shake;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}

.snowflake .inner {
    animation-duration: 10s;
    animation-name: snowflakes-fall;
    animation-timing-function: linear;
}

.snowflake:nth-of-type(1) {
    left: 1%;
    animation-delay: 0s;
}

.snowflake:nth-of-type(2) {
    left: 20%;
    animation-delay: 0.5s;
}

.snowflake:nth-of-type(3) {
    left: 30%;
    animation-delay: 2s;
}

.snowflake:nth-of-type(4) {
    left: 40%;
    animation-delay: 2s;
}

.snowflake:nth-of-type(5) {
    left: 50%;
    animation-delay: 3s;
}

.snowflake:nth-of-type(6) {
    left: 60%;
    animation-delay: 2s;
}

@media (max-width: 768px) {
    .home-title {
        font-size: 3rem;
    }

    .home-navlink {
        font-size: 1.25rem;
        padding: 0.75rem 1.5rem;
    }

    .home-chart-title {
        font-size: 2rem;
    }

    .home-radial-chart {
        max-width: 300px;
    }

    .home-category-details h3 {
        font-size: 1rem;
    }

    .home-category-details p {
        font-size: 1rem;
    }
}

/* Style des étiquettes dans le RadialChart */
.home-radial-chart .rv-xy-plot__series--label {
    font-family: "Elephant", sans-serif;
    font-size: 12px;
    font-weight: bold;
    fill: #9e4d0d;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.home-category-details {
    position: absolute; /* Permet de fixer la div en-dessous du graphique */
    top: calc(100% + 20px); /* Place la div juste en dessous du graphique avec un espace de 20px */
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: left;
    z-index: 5; /* S'assure que la div est au-dessus des autres éléments si nécessaire */
}

.home-category-details h3 {
    font-size: 1.5rem;
    color: #000;
}

.home-category-details p {
    font-size: 1.2rem;
    color: #000;
}

.span-home {
    font-size: 1rem;
}

/* Conteneur principal des détails de la catégorie */
.home-category-details {
    background-color: #cdb878;
    border: 2px solid #d32f2f;
    border-radius: 15px;
    padding: 1.2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    margin: 0.5rem auto;
    opacity: 0.95;
    font-family: "Elephant", sans-serif;
}

/* Titre de la catégorie */
.home-title-category {
    font-size: 1.8rem;
    color: #9e4d0d;
    text-align: center;
    margin-bottom: 1rem;
}

/* Label des données */
.category-home-label {
    color: #9e4d0d;
    font-size: 1.2rem;
    display: inline-block;
    margin-right: 0.5rem;
}

/* Données affichées */
.category-data {
    font-size: 1.3rem;
    color: black;
    margin-bottom: 1rem;
}

/* Adaptation pour petits écrans */
@media (max-width: 768px) {
    .div-category-details {
        padding: 1rem;
        border-radius: 10px;
    }

    .category-title {
        font-size: 1.5rem;
    }

    .category-label {
        font-size: 1.1rem;
    }

    .category-data {
        font-size: 1.2rem;
    }
    .span-home {
        font-size: 1rem;
    }
}

@media (max-width: 576px) {
    .div-category-details {
        padding: 0.8rem;
        border-radius: 8px;
    }

    .category-title {
        font-size: 1.3rem;
    }

    .category-label {
        font-size: 1rem;
    }

    .category-data {
        font-size: 1.1rem;
    }
    .span-home {
        font-size: 1rem;
    }
}

/* Couleurs supplémentaires pour les segments du RadialChart */
.radial-segment-red {
    fill: #b22222 !important;
    stroke: #7f1c1c !important;
}

.radial-segment-green {
    fill: #006400 !important;
    stroke: #004c00 !important;
}

.radial-segment-gold {
    fill: #b8860b !important;
    stroke: #8b5a00 !important;
}

.radial-segment-darkred {
    fill: #8b0000 !important;
    stroke: #600000 !important;
}

.radial-segment-darkgreen {
    fill: #0c4d31 !important;
    stroke: #084827 !important;
}

.radial-segment-blue {
    fill: #4682b4 !important;
    stroke: #2c5a7b !important;
}

.radial-segment-silver {
    fill: #c0c0c0 !important;
    stroke: #a9a9a9 !important;
}

.radial-segment-darkblue {
    fill: #00008b !important;
    stroke: #00005c !important;
}

.radial-segment-lightblue {
    fill: #87cefa !important;
    stroke: #5e9cb5 !important;
}

.radial-segment-pink {
    fill: #ff69b4 !important;
    stroke: #c05088 !important;
}

.logout-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    gap: 0.5rem;
}

.btn-logout {
    margin: 1rem auto;
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    background-color: #d32f2f;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-logout:hover {
    background-color: #b22222;
}
