body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: "Elephant", sans-serif;
}

.home-title {
    font-family: "Elephant", sans-serif;
    color: #d32f2f;
    -webkit-text-stroke: 1px #cdb878;
    text-align: center;
    font-size: 4rem;
    margin: 1rem 0;
}

.home-navlink {
    display: inline-block;
    margin: 1rem auto;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #d32f2f;
    text-decoration: none;
    border: 2px solid #d32f2f;
    border-radius: 15px;
    background-color: #cdb878;
    text-align: center;
    transition: background-color 0.3s ease;
}

.home-navlink:hover {
    color: white;
    background-color: #d32f2f;
}

.home-nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.home-snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial, sans-serif;
    text-shadow: 0 0 5px #000;
    opacity: 0.6;
}

.home-chart-container {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.home-radial-chart {
    width: 100%;
    max-width: 500px;
    height: auto;
}

.home-radial-chart.zoomed {
    transform: scale(1.1);
}

.home-chart-title {
    font-family: "Elephant", sans-serif;
    color: #d32f2f;
    -webkit-text-stroke: 1px #cdb878;
    text-align: center;
    font-size: 2.5rem;
    margin: 1rem 0;
}

.home-chart-and-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home-category-details {
    margin-top: 20px;
    background-color: #fff;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.home-category-details h3 {
    font-size: 1.5rem;
    color: #000;
}

.home-category-details p {
    font-size: 1.25rem;
    color: #000;
}

.home-radial-chart path {
    transition: transform 0.3s ease;
}

.home-radial-chart path:hover {
    transform: scale(1.1);
}

.home-radial-chart path.selected {
    transform: scale(1.0);
}

.home-radial-chart text {
    font-size: 12px;
    fill: #222;
    pointer-events: none;
}

.home-animated-chart path {
    transition: transform 0.3s ease, fill 0.3s ease;
}

.home-animated-chart path:hover {
    fill: #ff6347;
}

.home-animated-chart path.selected {
    fill: #ff4500;
}

.home-snowflake, .home-snowflake .inner {
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes home-snowflakes-fall {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(110vh);
    }
}

@keyframes home-snowflakes-shake {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(80px);
    }
}

.home-snowflake {
    position: fixed;
    top: -10%;
    z-index: -1;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    pointer-events: none;
    animation-name: home-snowflakes-shake;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}

.home-snowflake .inner {
    animation-duration: 10s;
    animation-name: home-snowflakes-fall;
    animation-timing-function: linear;
}

.home-snowflake:nth-of-type(1) {
    left: 1%;
    animation-delay: 0s;
}

.home-snowflake:nth-of-type(2) {
    left: 20%;
    animation-delay: 0.5s;
}

.home-snowflake:nth-of-type(3) {
    left: 30%;
    animation-delay: 2s;
}

.home-snowflake:nth-of-type(4) {
    left: 40%;
    animation-delay: 2s;
}

.home-snowflake:nth-of-type(5) {
    left: 50%;
    animation-delay: 3s;
}

.home-snowflake:nth-of-type(6) {
    left: 60%;
    animation-delay: 2s;
}

@media (max-width: 768px) {
    .home-title {
        font-size: 3rem;
    }

    .home-navlink {
        font-size: 1.25rem;
        padding: 0.75rem 1.5rem;
    }

    .home-chart-title {
        font-size: 2rem;
    }

    .home-radial-chart {
        max-width: 300px; /* Adjust the max-width for smaller screens */
    }
    .home-category-details h3 {
        font-size: 1.25rem;
    }

    .home-category-details p {
        font-size: 1rem;
    }
}