body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: "Elephant", sans-serif;
}

.h1-transactions {
    color: #d32f2f;
    -webkit-text-stroke: 1px #cdb878;
    text-align: center;
    font-size: 3rem;
    margin: 1rem 0;
}

.form-transaction {
    background-color: #cdb878;
    border: 2px solid #d32f2f;
    border-radius: 20px;
    padding: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    margin: 1rem auto;
    opacity: 90%;
}

.h2-transaction {
    color: #9e4d0d;
    text-align: center;
    font-size: 3rem;
    margin: 1rem 0;
}

.label-transaction {
    display: block;
    margin-bottom: 0.5rem;
    color: white;
    font-size: 1.2rem;
}

.input-transaction {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.option-transaction {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.option-transaction option {
    padding: 10px;
    background-color: #c4a55c;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.option-transaction option:hover {
    background-color: white;
    color: #000;
}

.submit-transaction {
    background-color: #d4af37;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.8rem 1.2rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 1rem auto;
    width: 50%;
}

.submit-transaction:hover {
    background-color: #bfa331;
}


@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
        margin: 0.8rem 0;
    }

    .form-transaction {
        padding: 1rem;
        border-radius: 15px;
    }

    .input-transaction,
    .option-transaction {
        font-size: 1rem;
        padding: 0.6rem;
    }

    .submit-transaction {
        padding: 0.6rem 1rem;
        font-size: 0.9rem;
        width: 70%;
    }

}

@media (max-width: 576px) {
    h1 {
        font-size: 1.8rem;
        margin: 0.6rem 0;
    }

    .form-transaction {
        padding: 0.8rem;
        border-radius: 10px;
    }

    .input-transaction,
    .option-transaction {
        font-size: 1rem;
        padding: 0.5rem;
    }

    .submit-transaction {
        padding: 0.5rem 0.8rem;
        font-size: 0.8rem;
        width: 90%;
    }

    .grid-item {
        flex-direction: column;
        gap: 0.5rem;
    }

}

.ul-transactions {
    list-style: none;
    padding: 0;
    margin: 1rem auto;
    max-width: 90%;
    opacity: 90%;
}

.li-transactions {
    background-color: #cdb878;
    border: 2px solid #d32f2f;
    border-radius: 10px;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: transform 0.2s, box-shadow 0.2s;
}

.li-transactions:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.span-transactions-title {
    text-align: center;
    color: #9e4d0d;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    display: block;
}


.span-transactions {
    color: #9e4d0d;
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
}

.span-transactions-data {
    color: black;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.div-transactions {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-transaction {
    margin: 0.5rem 0;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
}

.input-transaction:focus {
    border-color: #d4af37;
    outline: none;
}

.button-transaction {
    background-color: #d4af37;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.8rem 1.2rem;
    font-size: 1.2em;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s, transform 0.2s;
    margin-top: 0.5rem;
    align-self: flex-end;
}

.button-transaction:hover {
    background-color: #bfa331;
}

@media (max-width: 768px) {
    .ul-transactions {
        max-width: 95%;
    }

    .li-transactions {
        padding: 0.8rem;
    }

    .span-transactions {
        font-size: 1.1rem;
    }

    .span-transactions-data {
        font-size: 1rem;
    }

    .span-transactions-title {
        font-size: 1.3rem;
    }

    .button-transaction {
        padding: 0.6rem 1rem;
        font-size: 1.2rem;
    }
}

@media (max-width: 576px) {
    .ul-transactions {
        max-width: 100%;
    }

    .li-transactions {
        padding: 0.6rem;
    }

    .span-transactions {
        font-size: 1.1rem;
    }

    .span-transactions-data {
        font-size: 1rem;
    }

    .span-transactions-title {
        font-size: 1.3rem;
    }

    .button-transaction {
        padding: 0.5rem 0.8rem;
        font-size: 1.2rem;
    }

    .input-transaction {
        font-size: 1rem;
        padding: 0.6rem;
    }
}

