.joyride-tooltip {
    font-family: "Elephant", sans-serif;
    color: #333;
    font-size: 1rem;
    max-width: 300px;
    text-align: left;
    border: 2px solid #65a656;
    border-radius: 5px;
}

.joyride-tooltip__title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #65a656;
}

.joyride-tooltip__buttons button {
    background-color: #65a656;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.joyride-tooltip__buttons button:hover {
    background-color: #4d8a43;
}
