body {
    background: url('/assets/background51.png') no-repeat center center fixed; /* Image de fond */
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(232, 44, 56, 0.78);
    /*filter: blur(2px);
    z-index: -1;*/
}